{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
    <h1>Hello I am [your name]</h1>

    <div>
        As a full-stack developer, I'm passionate about crafting innovative solutions and bringing ideas to life.
        With expertise in Python and TypeScript, I specialize in building robust web applications.
        I'm dedicated to sharing my knowledge and empowering others through teaching Python.
        Currently, I'm deeply engaged in the world of Next.js, utilizing TypeScript to create dynamic and efficient web
        experiences.
    </div>
{% endblock %}