{% extends "base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-between flex-wrap">
        <div class="d-flex align-items-center">
            <a class="btn btn-link back-link" href="{% url 'blog:post_list' %}">
                <img class="me-2" src="{% static 'images/arrow.svg' %}" alt="logo" width="40">
            </a>
            <h1>{{ post.title }}</h1>
        </div>

        <div>
            Published {{ post.publish }} by {{ post.author }}
        </div>
    </div>
    {{ post.body|linebreaks }}

    <div class="mb-2">
        <h3>Similar posts</h3>
        <div class="d-flex gap-2">
            {% for post in similar_posts %}
                <a class="badge text-bg-primary" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            {% empty %}
                There are no similar posts yet.
            {% endfor %}
        </div>
    </div>

    <div>
        {% with comments.count as total_comments %}
            <h2>
                <span class="comment-count">{{ total_comments }}</span> comment{{ total_comments|pluralize }}
            </h2>
        {% endwith %}

        {% for comment in comments %}
            <div class="delete-post-{{ comment.id }}">
                <div class="d-flex gap-2">
                    <p>
                        Comment {{ forloop.counter }} by {{ comment.user.username }}
                        {{ comment.created }}
                    </p>

                    {% if request.user.is_authenticated  and request.user.id == comment.user.id %}
                        <i class="bi bi-trash icon" data-bs-toggle="modal"
                           data-bs-target="#remove-comment-{{ comment.id }}"></i>
                    {% endif %}
                </div>

                {{ comment.body|linebreaks }}
                {% include "partials/delete_comment.html" with comment_id=comment.id %}
            </div>
        {% empty %}
            <p>There are no comments.</p>
        {% endfor %}

        {% if not request.user.is_authenticated %}
            <div>To add comments you need to be logged in.</div>
        {% else %}
            {% include "partials/comment_form.html" %}
        {% endif %}
    </div>
{% endblock %}
